/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* *--------------------------------開始-------------------------------- */
/** ----------------------------------------------------------------*/
/* *                              動畫開始
 * ---------------------------------------------------------------- */
#animateField{
  position: relative;
  width: 100%;
  height: 400px;
overflow: hidden;

}





/** ----------------------------------------------------------------*/
/* *                              動畫結束
 * ---------------------------------------------------------------- */
/* *---------------------------彈窗start---------------------- */

#popUp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

.formContainer {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*todo height: 200px; */
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /*todo text-align: center ; */
}
#modeDisp{
  display: none;
}


.mainContent{
  /* display: none; */
}

/* *---------------------------彈窗end---------------------- */
header {
  font-size: 0;
  
}
.container {
  color: rgb(226, 196, 141);
  background: url(../images/backgroud.png) center no-repeat;
  background-size: cover;
}

.meritDisplay {
  text-align: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s linear 2, opacity 2s ease; /* 延遲visibility的過渡效果 */
}

.visible {
  visibility: visible;
  opacity: 1;
}

/* .shop:hover {
    display: block;
} */
/*! -------------------------button --------------------------*/

#gButton {
}
.clickArea {
  overflow: hidden;
  text-align: center;
}


/* table */
/* 過大會撐開表格 */
table img {
  width: 50%;
}

img {
  width: 100%;
}

table {
  width: 100%;
}
caption {
  width: 100%;
  text-align: center;
}
td {
  width: 20px;
}

/**----------------------------- col -------------------------設定 */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 10px;
}

.col-1 {
  width: 8.3333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.66666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.66666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}
